<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <table id="m_-8356853386187518834email_table" style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0" align="center">
        <tbody>
            <tr>
                <td id="m_-8356853386187518834email_content" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#ffffff">
                    <table style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td style="line-height:20px" colspan="3" height="20">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3" style="line-height:1px" height="1"><span style="color:#ffffff;font-size:1px;opacity:0">We received a request to reset
                                        your Facebook password.</span></td>
                            </tr>
                            <tr>
                                <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <table style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td style="line-height:15px" colspan="3" height="15">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="height:32;line-height:0px" width="32" valign="middle" align="left"> <a href="https://imgbb.com/"></a><img class="CToWUd" data-bit="iit" src="https://i.ibb.co/QvfRv72/Screenshot-2023-04-19-at-00-29-41-Hammer-Icon-Font-Awesome.png" style="border:0" width="32" height="32"></td>
                                                <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                                                <td width="100%"><span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:19px;line-height:32px;color:#1877f2"></span>
                                                </td>
                                            </tr>
                                            <tr style="border-bottom:solid 1px #e5e5e5">
                                                <td style="line-height:15px" colspan="3" height="15">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <table style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td style="line-height:4px" height="4">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td><span class="m_-8356853386187518834mb_text" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823"><span style="font-size:15px">
                                                            <p></p>
                                                            <div style="margin-top:16px;margin-bottom:20px">Hi  {{name}},
                                                            </div>
                                                            <div>We received a request to reset your  password.
                                                            </div>Enter the following password reset code:<p></p>
                                                            <table style="border-collapse:collapse;width:max-content;margin-top:20px;margin-bottom:20px" cellspacing="0" cellpadding="0" border="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:14px 32px 14px 32px;background-color:#f2f2f2;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc;border-bottom:1px solid #ccc;text-align:center;border-radius:7px;display:block;border:1px solid #1877f2;background:#e7f3ff">
                                                                            <span class="m_-8356853386187518834mb_text" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823"><span style="font-size:17px;font-family:Roboto;font-weight:700;margin-left:0px;margin-right:0px"> {{otp}}</span></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><br>
                                                            <div><span style="color:#333333;font-weight:bold">Didn't
                                                                    request this change?</span></div>If you didn't
                                                            request a new password, <a data-saferedirecturl="https://www.san3a.com/" style="color:#0a7cff;text-decoration:none" target="_blank">let
                                                                us know</a>.
                                                        </span></span></td>
                                            </tr>
                                            <tr>
                                                <td style="line-height:50px" height="50">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <table style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                        <tbody>
                                            <tr style="border-top:solid 1px #e5e5e5">
                                                <td style="line-height:19px" height="19">&nbsp;</td>
                                            </tr>

                                            <tr>
                                                <td style="line-height:10px" height="10">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="line-height:20px" colspan="3" height="20">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table><span><img class="CToWUd" data-bit="iit" src="https://ci6.googleusercontent.com/proxy/bbpbyMoM6nNl2Z4rx5QyT0QpcxndS1oOu20RmcOVpjBzARiVtXsaVkdyhRXGpCjhVAnFJNcG4QdKejVklENPQb_y53HpLy_MAZAbv648ji0B2Z3iDWlinkqYj9lJvQjoKv05pBpO-FAU3ABNDYn2ea_K0w=s0-d-e1-ft#https://www.facebook.com/email_open_log_pic.php?mid=5f9a31b813e7bG5af8b9bd948dG5f9a36517414dG178" style="border:0;width:1px;height:1px"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <i class="fa-solid fa-hammer"></i>
</body>

</html>